USE [QL_VeXeKhach]
GO
/****** Object:  Table [dbo].[BANVE]    Script Date: 12/15/2021 11:01:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BANVE](
	[MABANVE] [int] IDENTITY(1,1) NOT NULL,
	[TENKH] [nvarchar](100) NULL,
	[SDT] [nvarchar](10) NULL,
	[VITRIGHE] [varchar](100) NULL,
	[SOLUONG] [int] NULL,
	[TRANGTHAITHANHTOAN] [nvarchar](100) NULL,
	[GHICHU] [nvarchar](100) NULL,
	[MAVE] [int] NULL,
	[NGAYDAT] [date] NULL,
	[THANHTIEN] [money] NULL,
	[MANV] [int] NULL,
 CONSTRAINT [PK_BANVE] PRIMARY KEY CLUSTERED 
(
	[MABANVE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 12/15/2021 11:01:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHANVIEN](
	[MANV] [int] IDENTITY(1,1) NOT NULL,
	[TENNV] [nvarchar](100) NULL,
	[PHAI] [nvarchar](5) NULL,
	[DIACHI] [nvarchar](100) NULL,
	[SDT] [nvarchar](10) NULL,
	[LOAITAIKHOANG] [nvarchar](100) NULL,
	[TENDN] [nvarchar](5) NULL,
	[MATKHAU] [nvarchar](10) NULL,
	[LUONG] [money] NULL,
 CONSTRAINT [PK_NHANVIEN] PRIMARY KEY CLUSTERED 
(
	[MANV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TUYENXE]    Script Date: 12/15/2021 11:01:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TUYENXE](
	[MATUYENXE] [int] IDENTITY(1,1) NOT NULL,
	[TENTUYENXE] [nvarchar](100) NULL,
	[DIEMDI] [nvarchar](100) NULL,
	[DIEMDEN] [nvarchar](100) NULL,
	[CHITIETTUYENXE] [nvarchar](100) NULL,
	[GIAVE] [money] NULL,
 CONSTRAINT [PK_TUYENXE] PRIMARY KEY CLUSTERED 
(
	[MATUYENXE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VE]    Script Date: 12/15/2021 11:01:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VE](
	[MAVE] [int] IDENTITY(1,1) NOT NULL,
	[MATUYENXE] [int] NULL,
	[MAXE] [int] NULL,
	[NGAYDI] [date] NULL,
	[GIO] [time](7) NULL,
	[SOGHETRONG] [int] NULL,
 CONSTRAINT [PK_VE] PRIMARY KEY CLUSTERED 
(
	[MAVE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[XE]    Script Date: 12/15/2021 11:01:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[XE](
	[MAXE] [int] IDENTITY(1,1) NOT NULL,
	[LOAIXE] [nvarchar](100) NULL,
	[SOGHE] [int] NULL,
 CONSTRAINT [PK_XE] PRIMARY KEY CLUSTERED 
(
	[MAXE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[BANVE] ON 

INSERT [dbo].[BANVE] ([MABANVE], [TENKH], [SDT], [VITRIGHE], [SOLUONG], [TRANGTHAITHANHTOAN], [GHICHU], [MAVE], [NGAYDAT], [THANHTIEN], [MANV]) VALUES (1, N'Nguyễn Văn Nam', N'0987654321', N'12B,1A', 2, N'Đã thanh toán', N'', 1, CAST(N'2021-10-12' AS Date), 400000.0000, 1)
INSERT [dbo].[BANVE] ([MABANVE], [TENKH], [SDT], [VITRIGHE], [SOLUONG], [TRANGTHAITHANHTOAN], [GHICHU], [MAVE], [NGAYDAT], [THANHTIEN], [MANV]) VALUES (2, N'Nguyễn Văn Minh', N'0981234321', N'2B,8A,12B,7A', 4, N'Đã thanh toán', N'', 2, CAST(N'2021-10-13' AS Date), 14000000.0000, 2)
INSERT [dbo].[BANVE] ([MABANVE], [TENKH], [SDT], [VITRIGHE], [SOLUONG], [TRANGTHAITHANHTOAN], [GHICHU], [MAVE], [NGAYDAT], [THANHTIEN], [MANV]) VALUES (3, N'Nguyễn Ngọc Nhi', N'0987656781', N'2A', 1, N'Đã thanh toán', N'', 3, CAST(N'2021-10-14' AS Date), 400000.0000, 3)
SET IDENTITY_INSERT [dbo].[BANVE] OFF
GO
SET IDENTITY_INSERT [dbo].[NHANVIEN] ON 

INSERT [dbo].[NHANVIEN] ([MANV], [TENNV], [PHAI], [DIACHI], [SDT], [LOAITAIKHOANG], [TENDN], [MATKHAU], [LUONG]) VALUES (1, N'Ngô Thanh Hoàng', N'Nam', N'710 Nguyễn Trãi, Q9, TpHCM', N'0868567172', N'Quản lý', N'NV5', N'231696', 23000.0000)
INSERT [dbo].[NHANVIEN] ([MANV], [TENNV], [PHAI], [DIACHI], [SDT], [LOAITAIKHOANG], [TENDN], [MATKHAU], [LUONG]) VALUES (2, N'Nguyễn Như Nhựt', N'Nam', N'65/9 Cao Xuân Dục, Q8, TpHCM', N'0372994420', N'Nhân viên', N'NV1', N'120995', 21000.0000)
INSERT [dbo].[NHANVIEN] ([MANV], [TENNV], [PHAI], [DIACHI], [SDT], [LOAITAIKHOANG], [TENDN], [MATKHAU], [LUONG]) VALUES (3, N'Lê Thị Phi Yến', N'Nữ', N'Nguyễn Huệ, Quận 1, TpHCM', N'0917980023', N'Quản lý', N'NV2', N'250693', 25000.0000)
SET IDENTITY_INSERT [dbo].[NHANVIEN] OFF
GO
SET IDENTITY_INSERT [dbo].[TUYENXE] ON 

INSERT [dbo].[TUYENXE] ([MATUYENXE], [TENTUYENXE], [DIEMDI], [DIEMDEN], [CHITIETTUYENXE], [GIAVE]) VALUES (1, N'Hồ Chí Minh tới Tây Ninh', N'Hồ Chí Minh', N'Tây Ninh', N'', 200000.0000)
INSERT [dbo].[TUYENXE] ([MATUYENXE], [TENTUYENXE], [DIEMDI], [DIEMDEN], [CHITIETTUYENXE], [GIAVE]) VALUES (2, N'Hồ Chí Minh tới Hà Nội', N'Hồ Chí Minh', N'Hà Nội', N'', 3500000.0000)
INSERT [dbo].[TUYENXE] ([MATUYENXE], [TENTUYENXE], [DIEMDI], [DIEMDEN], [CHITIETTUYENXE], [GIAVE]) VALUES (3, N'Hồ Chí Minh tới Ninh Bình', N'Hồ Chí Minh', N'Ninh Bình', N'', 400000.0000)
SET IDENTITY_INSERT [dbo].[TUYENXE] OFF
GO
SET IDENTITY_INSERT [dbo].[VE] ON 

INSERT [dbo].[VE] ([MAVE], [MATUYENXE], [MAXE], [NGAYDI], [GIO], [SOGHETRONG]) VALUES (1, 1, 1, CAST(N'2021-11-20' AS Date), CAST(N'08:00:00' AS Time), 42)
INSERT [dbo].[VE] ([MAVE], [MATUYENXE], [MAXE], [NGAYDI], [GIO], [SOGHETRONG]) VALUES (2, 2, 2, CAST(N'2021-11-22' AS Date), CAST(N'07:00:00' AS Time), 30)
INSERT [dbo].[VE] ([MAVE], [MATUYENXE], [MAXE], [NGAYDI], [GIO], [SOGHETRONG]) VALUES (3, 3, 3, CAST(N'2021-11-24' AS Date), CAST(N'09:00:00' AS Time), 21)
SET IDENTITY_INSERT [dbo].[VE] OFF
GO
SET IDENTITY_INSERT [dbo].[XE] ON 

INSERT [dbo].[XE] ([MAXE], [LOAIXE], [SOGHE]) VALUES (1, N'Thường1', 44)
INSERT [dbo].[XE] ([MAXE], [LOAIXE], [SOGHE]) VALUES (2, N'VIP1', 36)
INSERT [dbo].[XE] ([MAXE], [LOAIXE], [SOGHE]) VALUES (3, N'Thường2', 22)
SET IDENTITY_INSERT [dbo].[XE] OFF
GO
ALTER TABLE [dbo].[BANVE]  WITH CHECK ADD  CONSTRAINT [FK_BANVE_NHANVIEN] FOREIGN KEY([MANV])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[BANVE] CHECK CONSTRAINT [FK_BANVE_NHANVIEN]
GO
ALTER TABLE [dbo].[BANVE]  WITH CHECK ADD  CONSTRAINT [FK_BANVE_VE] FOREIGN KEY([MAVE])
REFERENCES [dbo].[VE] ([MAVE])
GO
ALTER TABLE [dbo].[BANVE] CHECK CONSTRAINT [FK_BANVE_VE]
GO
ALTER TABLE [dbo].[VE]  WITH CHECK ADD  CONSTRAINT [FK_VE_TUYENXE] FOREIGN KEY([MATUYENXE])
REFERENCES [dbo].[TUYENXE] ([MATUYENXE])
GO
ALTER TABLE [dbo].[VE] CHECK CONSTRAINT [FK_VE_TUYENXE]
GO
ALTER TABLE [dbo].[VE]  WITH CHECK ADD  CONSTRAINT [FK_VE_XE] FOREIGN KEY([MAXE])
REFERENCES [dbo].[XE] ([MAXE])
GO
ALTER TABLE [dbo].[VE] CHECK CONSTRAINT [FK_VE_XE]
GO
